node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# tsc build artifacts
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
